.nav{
        overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
body {
  
  background-color: #F4F6F9;
}

* {
  margin: 0;
  padding: 0;
}
.rest{
  /* background-color: #f3f2f2;
  display: flex;
  flex-direction: row; */
}

