.side{
    width: 17.1%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 2rem 0px 1rem 0px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#accontainer{
    background-color: #f3f2f2;
    display: flex;
    flex-direction: row;
}

.left{
    width: 83%;
}


#butt{
    background-color: transparent;
    padding: 1.4rem;
    font-size: small;
    font-weight: 500;
    color: #000000;
    text-transform:none;
}

#butt:hover{
    background-color: #00D9A1;
    border-radius: 0;

}
#butt:focus{
    font-weight: 550;
    background-color: #00D9A1;
    border-radius: 0;
    font-weight: 550;

}

button:hover{
    background-color: #00D9A1;
    border-radius: 0;
}


#butt3{
    background-color: #00D9A1;
    padding: 1.4rem;
    font-size: small;
    font-weight: 500;
    color: #000000;
    text-transform:none;
}