#cardoo{
    background-color: rgb(255, 255, 255);
    /* border: solid 1px; */
    margin: 1rem;
    padding : 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
}

#titleH{
    background-color: #00D9A1;
    /* border-radius: 5px; */
    padding: 0.5rem;
    margin-top: 0;
    width: 110%;
    height: 3.5rem;
    font-weight: 500;
    font-size:15px;
    border-radius: 5px 5px 0px 0px;

}
#specialiteH{
    font-size: small;
}