#hoCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hoptxt {
  width: 80%;
  height: 2em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  margin: 0;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#hopcard {
  width: 90%;
  height: 50%;
  /* background-color:rgb(255, 255, 255); */
  border-radius: 5px;
  /* background-image: url("https://media.istockphoto.com/photos/track-and-mountains-in-valle-del-lago-somiedo-nature-park-asturias-picture-id1370772148?k=20&m=1370772148&s=612x612&w=0&h=UtId6HL27edD9i1PmcEtethm3d7YMaNfATfjdCzYQ6E="); */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
}
