@import 'variables';

.admin-teachers-container {
    width: 100%;
    height: 100%;
    padding: 4rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .teachers-cards-container {
        flex-grow: 1;
        width: 100%;
        overflow-y: scroll;
        padding: 0 4rem;
    }
    .teachers-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 4rem;
        width: 100%;
        margin: 1rem 0 2rem;
        button:not(:first-child) {
            margin-left: 2rem;
            background-color: $primary;
        }

        button {
            border-radius: $border-radius;
            background-color: $secondary;
            outline: none;
            border: none;
            color: $light;
            padding: 0.8rem;
            cursor: pointer;
            width: 9rem;
            justify-content: space-evenly;
            filter: $shadow;
            display: flex;
            align-items: center;

            img {
                width: 1rem;
                object-fit: cover;
                filter: $light-filter;
            }
        }
    }
}
